# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/tgmarketplace

# Auth
NEXTAUTH_SECRET=change-me-in-production
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=change-me-in-production

# Telegram
TELEGRAM_BOT_TOKEN=123456:ABC...
TELEGRAM_ADMIN_CHAT_ID=-100123456789

# TON
TON_WALLET_ADDRESS=UQB3xk...
TON_CENTER_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
